<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Admin | goResto</title>
  <!-- Tell the browser to be responsive to screen width -->
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

  <link rel="stylesheet" href="../styles/bootstrap.min.css">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="../styles/font-awesome/css/font-awesome.min.css">
  <!-- Ionicons -->
  <link rel="stylesheet" href="../styles/ionicons.min.css">
  <!-- Theme style -->
  <link rel="stylesheet" href="../styles/AdminLTE.min.css">
  <!-- bootstrap wysihtml5 - text editor -->

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->

  <!-- Google Font -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
  <style>
    .example-modal .modal {
      position: relative;
      top: auto;
      bottom: auto;
      right: auto;
      left: auto;
      display: block;
      z-index: 1;
    }

    .example-modal .modal {
      background: transparent !important;
    }
  </style>
</head>
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">

  <header class="main-header">
    <!-- Logo -->
    <a href="/admin" class="logo">
      <!-- mini logo for sidebar mini 50x50 pixels -->
      <span class="logo-mini"><b>A</b>LT</span>
      <!-- logo for regular state and mobile devices -->
      <span class="logo-lg"><b>Admin</b> Page</span>
    </a>
    <!-- Header Navbar: style can be found in header.less -->
    <nav class="navbar navbar-static-top">
      <!-- Sidebar toggle button-->
      <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
        <span class="sr-only">Toggle navigation</span>
      </a>

      
    </nav>
  </header>
  <aside class="main-sidebar">
    <section class="sidebar">
      <ul class="sidebar-menu" data-widget="tree">
        <li>
          <a href="/admin">
            <i class="fa fa-dashboard"></i> <span>Dashboard</span>
          </a>
        </li>
        <%if(fakultas!=null){%>
        <li class="active">
        <%}else{%>
        <li>
        <%}%>
          <a href="/admin/fakultas">
            <i class="fa fa-university"></i> <span>Fakultas</span>
          </a>
        </li>
        <%if(progstudi!=null){%>
          <li class="active">
          <%}else{%>
          <li>
          <%}%>
          <a href="/admin/progstudi">
            <i class="fa fa-graduation-cap"></i> <span>Program Studi</span>
          </a>
        </li>
        <%if(dosen!=null){%>
          <li class="active">
          <%}else{%>
          <li>
          <%}%>
          <a href="/admin/dosen">
            <i class="fa fa-book"></i> <span>Dosen</span>
          </a>
        </li>
        <li>
          <a href="/logout">
            <i class="fa fa-sign-out"></i> <span>Sign out</span>
          </a>
        </li>
      </ul>
    </section>
    <!-- /.sidebar -->
  </aside>
  <div class="content-wrapper">
    <section class="content-header">
      <h1>
        <%if(fakultas!=null){%>
          Data Fakultas
        <%}else if(progstudi!=null){%>
          Data Program Studi
        <%}else if(dosen!=null){%>
          Data Dosen
        <%}%>
      </h1>
      <ol class="breadcrumb">
        <li><a href="/admin"><i class="fa fa-dashboard"></i> Home</a></li>
        <%if(fakultas!=null){%>
          <li class="active">Fakultas</li>
        <%}else if(progstudi!=null){%>
          <li class="active">Program Studi</li>
        <%}else if(dosen!=null){%>
          <li class="active">Dosen</li>
        <%}%>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content">
      <!-- Small boxes (Stat box) -->
      <div class="row">
        <div class="col-md-12">
            <%if(fakultas!=null){%>
              <div class="box">
                <div class="box-header with-border">
                  <h3 class="box-title">Tambah Fakultas</h3>
                </div>
  
                <form id="formFakultas" role="form" method="POST" action="/admin/addFakultas">
                  <div class="box-body">
                    <div class="form-group col-md-4">
                      <label for="namaFakultas">Nama Fakultas</label>
                      <input type="text" class="form-control" id="namaFakultas" name="namaFakultas" placeholder="Masukan nama Fakultas">
                    </div>
                  </div>
                  <div class="box-footer">
                    <button type="submit" class="btn btn-primary">Submit</button>
                  </div>
                </form>
              </div>
            <%}else if(progstudi!=null){%>
              <div class="box">
                <div class="box-header with-border">
                  <h3 class="box-title">Tambah Program Studi</h3>
                </div>
                <form id="formProg" role="form" method="POST" action="/admin/addProgStudi">
                  <div class="box-body">
                    <div class="form-group col-md-4">
                      <label>Fakultas</label>
                      <select id="idFakultas" class="form-control select2" name="idFakultas" style="width: 100%;" required>
                        <option disabled selected>Pilih Fakultas</option>
                        <%for(var i=0;i<Fakultas.length;i++){%>
                          <option value="<%= Fakultas[i].id %>"><%= Fakultas[i].namaFakultas %></option>
                        <%}%>
                      </select>
                    </div>
                    <div class="form-group col-md-4">
                      <label for="namaProgstudi">Nama Program Studi</label>
                      <input type="text" class="form-control" id="namaProgstudi" name="namaProg" placeholder="Masukan nama Program Studi">
                    </div>
                  </div>
                  <div class="box-footer">
                    <button type="submit" class="btn btn-primary">Submit</button>
                  </div>
                </form>
              </div>
            <%}else if(dosen!=null){%>
              <div class="box">
                <div class="box-header with-border">
                  <h3 class="box-title">Tambah Dosen</h3>
                </div>
                <form id="formDosen" role="form" method="POST" action="/admin/addDosen">
                  <div class="box-body">
                    <div class="row">
                      <div class="form-group col-md-4">
                        <label>Fakultas</label>
                        <select id="idFakultas" class="form-control select2" name="idFakultas" style="width: 100%;">
                          <option disabled selected>Pilih Fakultas</option>
                          <%for(var i=0;i<Fakultas.length;i++){%>
                            <option value="<%= Fakultas[i].id %>"><%= Fakultas[i].namaFakultas %></option>
                            <%}%>
                        </select>
                      </div>
                      <div class="form-group col-md-4">
                        <label>Program Studi</label>
                        <select id="idProg" class="form-control select2" name="idProg" style="width: 100%;">
                          <option disabled selected>Pilih Program Studi</option>
                          <%for(var i=0;i<Progstudi.length;i++){%>
                            <option value="<%= Progstudi[i].id %>"><%= Progstudi[i].namaProg %></option>
                          <%}%>
                        </select>
                      </div>
                      <div class="form-group col-md-4">
                        <label for="namaDosen">Nama Dosen</label>
                        <input type="text" class="form-control" id="namaDosen" name="namaDosen" placeholder="Masukan nama Dosen">
                      </div>
                      <div class="form-group col-md-3">
                        <label for="nip">NIP</label>
                        <input type="number" class="form-control" id="nip" name="nip" placeholder="Masukan nip">
                      </div>
                      <div class="form-group col-md-3">
                        <label for="nidn">NIDN</label>
                        <input type="number" class="form-control" id="nidn" name="nidn" placeholder="Masukan nidn">
                      </div>
                      <div class="form-group col-md-3">
                        <label for="jabatan">Jabatan Fungsional</label>
                        <input type="text" class="form-control" id="jabatan" name="jabatan" placeholder="Masukan jabatan Fungsional">
                      </div>
                      <div class="form-group col-md-3">
                        <label for="namaDosen">Email</label>
                        <input type="email" class="form-control" id="email" name="email" placeholder="Masukan Email">
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                        <div class="box">
                          <div class="box-header with-border">
                            <h3 class="box-title">Strata I / Sarjana</h3>
                          </div>
                          <div class="box-body">
                            <div class="row">
                              <div class="form-group col-md-6">
                                <label for="s1tahun">Tahun Selesai</label>
                                <input type="number" min="1900" max="2099" step="1" class="form-control" id="s1tahun" name="s1tahun" placeholder="tahun">
                              </div>
                              <div class="form-group col-md-6">
                                <label for="s1jurusan">Jurusan</label>
                                <input type="text" class="form-control" id="s1jurusan" name="s1jurusan" placeholder="jurusan">
                              </div>
                              <div class="form-group col-md-6">
                                <label for="s1inst">Institusi</label>
                                <input type="text" class="form-control" id="s1inst" name="s1inst" placeholder="Institusi">
                              </div>
                              <div class="form-group col-md-6">
                                <label for="s1lokasi">Lokasi</label>
                                <input type="text" class="form-control" id="s1lokasi" name="s1lokasi" placeholder="Lokasi">
                              </div>
                            </div>
                          </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="box">
                          <div class="box-header with-border">
                            <h3 class="box-title">Strata II / Magister</h3>
                          </div>
                          <div class="box-body">
                            <div class="row">
                              <div class="form-group col-md-6">
                                <label for="s2tahun">Tahun Selesai</label>
                                <input type="number" min="1900" max="2099" step="1" class="form-control" id="s2tahun" name="s2tahun" placeholder="tahun">
                              </div>
                              <div class="form-group col-md-6">
                                <label for="s2jurusan">Jurusan</label>
                                <input type="text" class="form-control" id="s2jurusan" name="s2jurusan" placeholder="jurusan">
                              </div>
                              <div class="form-group col-md-6">
                                <label for="s2inst">Institusi</label>
                                <input type="text" class="form-control" id="s2inst" name="s2inst" placeholder="Institusi">
                              </div>
                              <div class="form-group col-md-6">
                                <label for="s2lokasi">Lokasi</label>
                                <input type="text" class="form-control" id="s2lokasi" name="s2lokasi" placeholder="Lokasi">
                              </div>
                            </div>
                          </div>
                        </div>
                    </div>
                  </div>
                  <div class="box-footer">
                    <button type="submit" class="btn btn-primary">Submit</button>
                  </div>
                </form>
              </div>
            <%}%>
        </div>
        <div class="col-md-12">
          <div class="box">
            <div class="box-header with-border">
              <%if(fakultas!=null){%>
                <h3 class="box-title">Table Fakultas</h3>
              <%}else if(progstudi!=null){%>
                <h3 class="box-title">Table Program Studi</h3>
              <%}else if(dosen!=null){%>
                <h3 class="box-title">Table Dosen</h3>
              <%}%>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <%if(fakultas!=null){%>
                <table class="table table-bordered">
                  <tr>
                    <th style="width: 10px">No</th>
                    <th>Nama Fakultas</th>
                    <th style="width : 100px;">action</th>
                  </tr>
                  <%for(var i =0;i<fakultas.length;i++){%>
                  <tr>
                    <td><%=i+1%></td>
                    <td><%=fakultas[i].namaFakultas%></td>
                    <td>
                      <a class="btn btn-social-icon btn-edit" onclick="editFakultas('<%=fakultas[i].id%>' , '<%=fakultas[i].namaFakultas%>')"><i class="fa fa-edit"></i></a>
                      <a href="/admin/deleteFakultas/<%=fakultas[i].id%>" class="btn btn-social-icon btn-close"><i class="fa fa-close"></i></a>
                    </td>
                  </tr>
                  <%}%>
                </table>
              <%}else if(progstudi!=null){%>
                <table class="table table-bordered">
                    <tr>
                      <th style="width: 10px">No</th>
                      <th>Nama Fakultas</th>
                      <th>Nama Program Studi</th>
                      <th style="width : 100px;">Action</th>
                    </tr>
                    <%for(var i =0;i<progstudi.length;i++){%>
                    <tr>
                      <td><%=i+1%></td>
                      <td><%=progstudi[i].namaFakultas%></td>
                      <td><%=progstudi[i].namaProg%></td>
                      <td>
                        <a class="btn btn-social-icon btn-edit" onclick="editProg('<%=progstudi[i].id%>','<%=progstudi[i].idFakultas%>','<%=progstudi[i].namaProg%>')"><i class="fa fa-edit"></i></a>
                        <a href="/admin/deleteProg/<%=progstudi[i].id%>" class="btn btn-social-icon btn-close"><i class="fa fa-close"></i></a>
                      </td>
                    </tr>
                    <%}%>
                  </table>
              <%}else if(dosen!=null){%>
                <table class="table table-bordered">
                    <tr>
                      <th style="width: 10px">No</th>
                      <th>Nama Fakultas</th>
                      <th>Nama Program Studi</th>
                      <th>Nama Dosen</th>
                      <th style="width : 100px;">Action</th>
                    </tr>
                    <%for(var i =0;i<dosen.length;i++){%>
                    <tr>
                      <td><%=i+1%></td>
                      <td><%=dosen[i].namaFakultas%></td>
                      <td><%=dosen[i].namaProg%></td>
                      <td><%=dosen[i].namaDosen%></td>
                      <td>
                        <a class="btn btn-social-icon btn-edit" onclick="editDosen('<%=JSON.stringify(dosen[i])%>')"><i class="fa fa-edit"></i></a>
                        <a href="/admin/deleteDosen/<%=dosen[i].id%>" class="btn btn-social-icon btn-close"><i class="fa fa-close"></i></a>
                      </td>
                    </tr>
                    <%}%>
                </table>
              <%}%>
            </div>
          </div>
          <!-- /.box -->

          
        </div>
      </div>
      
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
  


  <div class="control-sidebar-bg"></div>
</div>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
<script src="../js/adminlte.min.js"></script>
<script>
  function editFakultas(id,namaFakultas){
    $("#formFakultas").attr("action","/admin/editFakultas/"+id)
    $('#namaFakultas').val(namaFakultas)
  }
  function editProg(id,idFakultas,namaProg){
    $('#formProg').attr('action','/admin/editProg/'+id)
    $('#namaProgstudi').val(namaProg)
    $('#idFakultas').val(idFakultas)
  }
  function editDosen(data){
    data = JSON.parse(data)
    console.log(data.id)
    $('#formDosen').attr('action','/admin/editDosen/'+data.id)
    $('#namaDosen').val(data.namaDosen)
    $('#idFakultas').val(data.idFakultas)
    $('#idProg').val(data.idProg)
    $('#nip').val(data.nip)
    $('#nidn').val(data.nidn)
    $('#jabatan').val(data.jabatan)
    $('#email').val(data.email)
    $('#s1tahun').val(data.s1tahun)
    $('#s1jurusan').val(data.s1jurusan)
    $('#s1inst').val(data.s1inst)
    $('#s1lokasi').val(data.s1lokasi)
    $('#s2tahun').val(data.s2tahun)
    $('#s2jurusan').val(data.s2jurusan)
    $('#s2inst').val(data.s2inst)
    $('#s2lokasi').val(data.s2lokasi)
  }
</script>
</body>
</html>
